ul.ul-bags {
    list-style: none;
    margin-top: 5px;
}

ul.ul-bags li {
    display: inline;
}

ul.ul-bags a {
    background-color: #ECECEC;
    border: 1px solid #999999;
    padding: 5px 5px 10px;
    display: block;
    float: left;
    margin: 5px;
}

ul.ul-bags a:hover {
    background-color: #FFFFFF;
    border: 1px solid #333333;
}

ul.ul-bags a img {
    border: 1px solid #999999;
}

ul.ul-bags a.lightbox-enabled img {
    border: 1px dotted #999999;
}


