#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}
