        #smallScroller
        {
                height: 75px;
                position: relative;
                border: solid 1px #ccc;
        }

        #smallScroller div.scrollableArea *
        {
                display: block;
                position: relative;
                float: left;
                padding: 0;
                /*margin: 0px 10px 0px 10px;*/
        }

        div.scrollingHotSpotLeft, div.scrollingHotSpotRight
        {
                min-width: 35px;
        }
